{{# layout }}
    <div class="alert alert-danger" role="alert">
        <span class="textblock">The server returned an error.</span>
        <span class="textblock"><strong>Status code:</strong> {{ status }} - {{ error }}</span>
        <span class="textblock"><strong>Message:</strong> {{ message }}</span>
        <span class="textblock"><strong>Timestamp:</strong> {{ timestamp }}</span>
    </div>
{{/ layout }}
{{> layout }}
