{{# layout }}

    {{# error }}
    <div class="alert alert-danger" role="alert">
        Innloggingsfeil. Prøv igjen.
    </div>
    {{/ error }}
    <form method="post" class="form-signin">
        <h3 class="form-signin-heading">Vennligst logg inn</h3>
        <label for="inputUsername" class="sr-only">NAV ident</label>
        <input type="text" id="inputUsername" class="form-control" placeholder="NAV ident" name="username" required autofocus>
        <label for="inputPassword" class="sr-only">Passord</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Passord" name="password" required>
        <input type="hidden" name="{{ _csrf.parameterName }}" value="{{ _csrf.token }}">
        <button type="submit" class="btn btn-lg btn-primary btn-block">Logg inn</button>
    </form>
{{/ layout }}
{{> layout }}
