<?xml version="1.0" encoding="UTF-8"?>
<included>
    <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <logger name="org.apache.cxf" level="INFO"/>
    <logger name="org.apache.cxf.service.invoker.AbstractInvoker" level="OFF" />
    <logger name="org.apache.cxf.common.logging" level="WARN" additivity="false"/>

    <logger name="org.springframework" level="INFO"/>

    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="org.eclipse.jetty.server.HttpChannel" level="DEBUG"/>
    <logger name="org.eclipse.jetty.http.HttpGenerator" level="DEBUG"/>

    <logger name="no.nav.altinnkanal.services.TopicService" level="INFO"/>

    <root level="DEBUG">
        <appender-ref ref="stdout_json" />
    </root>

</included>
