{{# layout }}
    <div class="pure-g">
        <div class="pure-u-1">
            <h3>List of {{# enabled }}enabled{{/ enabled }}{{^ enabled }}disabled{{/ enabled }} entries</h3>
            <a href="/configuration{{# enabled}}?enabled=false{{/enabled}}">Show
                {{^ enabled }}enabled{{/ enabled }}{{# enabled }}disabled{{/ enabled }} entries</a>
        </div>
        <div class="pure-u-1">
            <table class="pure-table pure-table-bordered">
                <thead>
                    <tr>
                        <th>Service code</th>
                        <th>Service edition code</th>
                        <th>Topic</th>
                        <th>Comment</th>
                        <th>Last updated</th>
                        <th>Updated by</th>
                    </tr>
                </thead>
                <tbody>
                {{# topicMappingEntries }}
                    <tr>
                        <th>{{ serviceCode }}</th>
                        <th>{{ serviceEditionCode }}</th>
                        <th>{{ topic }}</th>
                        <th>{{ comment }}</th>
                        <th>
                            <a href="/configuration/{{serviceCode}}/{{serviceEditionCode}}">
                                {{ updateDate }}
                            </a>
                        </th>
                        <th>{{ updatedBy }}</th>
                    </tr>
                {{/ topicMappingEntries }}
                </tbody>
            </table>
        </div>
    <div>
{{/ layout }}
{{> layout }}
