{{# layout }}
    <div class="row">
        <h3>Liste over videresendinger</h3>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Service Code</th>
                    <th>Service Edition Code</th>
                    <th>Topic</th>
                    <th>Sist oppdatert</th>
                    <th>Oppdatert av</th>
                </tr>
            </thead>
            <tbody>
            {{# topicMappingEntries }}
                {{# enabled }}<tr class="success">{{/ enabled }}
                {{^ enabled }}<tr class="danger">{{/ enabled }}
                    <td>{{ serviceCode }}</td>
                    <td>{{ serviceEditionCode }}</td>
                    <td>{{ topic }}</td>
                    <td>
                        <a href="/configuration/{{ serviceCode }}/{{ serviceEditionCode }}">
                            {{ updateDate }}
                        </a>
                    </td>
                    <td>{{ updatedBy }}</td>
                    <td>
                        <a href="/configuration/{{ serviceCode }}/{{ serviceEditionCode }}/edit" class="btn btn-info">
                            Rediger
                        </a>
                    </td>
                    <td>
                        <form action="/configuration/{{ serviceCode }}/{{ serviceEditionCode }}/toggleEnabled" method="post">
                            {{# enabled }}<button type="submit" class="btn btn-danger">Deaktiver</button>{{/ enabled }}
                            {{^ enabled }}<button type="submit" class="btn btn-success">Aktiver</button>{{/ enabled }}
                            <input type="hidden" name="{{ _csrf.parameterName }}" value="{{ _csrf.token }}">
                        </form>
                    </td>
                </tr>
            {{/ topicMappingEntries }}
            </tbody>
        </table>
        <a href="/configuration/new" class="btn btn-primary">
            Ny videresending
        </a>
    </div>

{{/ layout }}
{{> layout }}
