{{# layout }}
    <table class="pure-table pure-table-bordered">
        <thead>
            <tr>
                <th>SC</th>
                <th>SEC</th>
                <th>Topic</th>
                <th>
                    {{# enabled }}<a href="/configuration/disabled">Show Disabled</a>{{/enabled}}
                    {{^ enabled }}<a href="/configuration/">Show Enabled</a>{{/enabled}}
                </th>
                <th>Comment</th>
                <th>Last Updated</th>
                <th>Updated By</th>
            </tr>
        </thead>
        <tbody>
        {{# topicMappingEntries }}
            <tr>
                <th>{{ serviceCode }}</th>
                <th>{{ serviceEditionCode }}</th>
                <th>{{ topic }}</th>
                <th>
                    <label class="switch">
                        <input type="checkbox" {{# enabled}}checked{{/ enabled}} disabled>
                        <span class="slider round"></span>
                    </label>
                </th>
                <th>{{ comment }}</th>
                <th>
                    <a href="/configuration/{{serviceCode}}/{{serviceEditionCode}}">
                        {{ updateDate }}
                    </a>
                </th>
                <th>{{ updatedBy }}</th>
            </tr>
        {{/ topicMappingEntries }}
        </tbody>
    </table>
{{/ layout }}
{{> layout }}