{{# layout }}
    {{# error }}
    <div class="alert alert-danger">
        {{ errorMsg }}
    </div>
    {{/ error }}
    <h3>
    {{^ update }}
        Skjema for ny videresending
    {{/ update }}
    {{# update }}
        Redigering av videresending
    {{/ update }}
    </h3>
    <form method="post">
        <div class="form-group">
            <label for="service-code-text">Service Code</label>
            <input type="text" class="form-control" placeholder="Service Code" name="serviceCode" id="service-code-text" value="{{ topicMapping.serviceCode }}" {{# update  }}disabled{{/ update }} required>
        </div>
        <div class="form-group">
            <label for="service-edition-code-text">Service Edition Code</label>
            <input type="text" class="form-control" placeholder="Service Edition Code" name="serviceEditionCode" id="service-edition-code-text" value="{{ topicMapping.serviceEditionCode }}" {{# update  }}disabled{{/ update }} required>
        </div>
        <div class="form-group">
            <label for="topic-text">Topic</label>
            <input type="text" class="form-control" placeholder="Topic" name="topic" id="topic-text" value="{{ topicMapping.topic }}" required>
        </div>
        <div class="form-group">
            <label for="comment-textarea">Kommentar</label>
            <textarea class="form-control" id="comment-textarea" name="comment" rows="4" placeholder="Kommentar">{{ topicMapping.comment }}</textarea>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="enabled" id="enabled-checkbox" {{# topicMapping.enabled }}checked{{/ topicMapping.enabled }} value="true"> Aktivert
                </label>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Lagre</button>
        </div>
        <input type="hidden" name="{{ _csrf.parameterName }}" value="{{ _csrf.token }}">
    </form>

{{/ layout }}
{{> layout }}
