{{# layout }}

    {{# error }}
    <div class="alert alert-error">
        Invalid username or password!
    </div>
    {{/ error }}
    <form method="post" class="pure-form pure-form-stacked">
        <input type="text" name="username">
        <input type="password" name="password">
        <input type="hidden" name="{{ _csrf.parameterName }}" value="{{ _csrf.token }}">
        <input type="submit" value="Logg inn" class="pure-button">
    </form>
{{/ layout }}
{{> layout }}