{{# layout }}
    {{# log }}
        {{ serviceCode }}
        {{ serviceEditionCode }}
        {{ topic }}
        {{ enabled }}
        {{ comment }}
        {{ updateDate }}
        {{ updatedBy }}
    {{/ log }}
{{/layout}}
{{> layout }}