{{# layout }}
    <div class="row">
        <h3>Endringslogg (nyeste først)</h3>
        <p><strong>Service Code:</strong> {{ serviceCode }}</p>
        <p><strong>Service Edition Code:</strong> {{ serviceEditionCode }}</p>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Oppdatert</th>
                <th>Oppdatert av</th>
                <th>Topic</th>
                <th>Aktivert</th>
                <th>Kommentar</th>
            </tr>
            </thead>
            <tbody>
            {{# log }}
                {{# enabled }}<tr class="success">{{/ enabled }}
                {{^ enabled }}<tr class="danger">{{/enabled}}
                    <td>{{ updateDate }}</td>
                    <td>{{ updatedBy }}</td>
                    <td>{{ topic }}</td>
                    <td>{{ enabled }}</td>
                    <td>{{ comment }}</td>
                </tr>
            {{/ log }}
            </tbody>
        </table>

        <a href="/configuration/{{ serviceCode }}/{{ serviceEditionCode }}/edit" class="btn btn-info">
            Rediger
        </a>

{{/ layout }}
{{> layout }}
